# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Poetry
poetry.lock

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# Data
*.parquet
*.csv
data/
logs/

# OS
.DS_Store
Thumbs.db

# Test
.coverage
htmlcov/

# Misc
.env
.env.* 